<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Add book</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add book</h1>
</div>

<form th:action="@{/process_adding_book}" method="post" th:object="${book}">
    <div>

            <label >Author</label>
            <input type="text" class="form-control" th:field="*{author}" required/>


            <label >Title</label>
            <input type="text" class="form-control" th:field="*{title}" required/>


            <label >Topic</label>
            <input type="text" class="form-control" th:field="*{topic}" required/>


            <label >Edition</label>
            <input type="text" class="form-control" th:field="*{edition}" required/>

            <label >Year</label>
            <input type="number" class="form-control" th:field="*{year}" required/>


            <label >Payment</label>
            <input type="number" class="form-control" th:field="*{price}" required/>

        <div>
            <button type="submit" class="btn btn-success">Add book</button>
        </div>
    </div>
</form>

</body>
</html>