<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Course Tracker</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h2>Your books</h2>

    <a th:href = "@{/available_books}" class="btn btn-primary btn-sm mb-3"> Rent book </a>
    <a th:href = "@{/logout}" class="btn btn-primary btn-sm mb-3"> Logout </a>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>topic</th>
            <th>edition</th>
            <th>year</th>
            <th>price per day</th>
            <th>payment for this book</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${setUserBooks}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.topic}"></td>
            <td th:text="${book.edition}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.payment}"></td>
            <td>
                <a th:href="@{/list_user_books/leave/{id}(id=${book.id})}" class="btn btn-danger">Leave</a>
                <a th:href="@{/list_user_books/pay/{id}(id=${book.id})}" class="btn btn-success">Pay</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2 th:text="${totalPayment}"> total payment</h2>

</div>
</body>
</html>