<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Course Tracker</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<a th:href = "@{/list_user_books}" class="btn btn-primary btn-sm mb-3"> Back to your books </a>
<div class="alert alert-danger" role="alert">
  You cant leave book if you dont pay for it
</div>

</body>
</html>